/*
Theme Name:   ChildTheme
Template:     twentysixteen
Description:  Child Theme
Author:       Noisette Loïc
Author URI:   https://cv.lolo-projects.com
Version:      1.0.0
License:      GNU General Public License v3 or later
License URI:  http://www.gnu.org/licenses/gpl-3.0.html
Text Domain:  twenty-sixteen-child
*/

#articleFooter {
    border: 1px solid black;
    background-color: black;
    color: white;
}

.content-area-articles {
    text-align: center;
}

#accueilFooter {
    border: 1px solid black;
    background-color: red;
    color: white;
}

.entry-title {
    color: blue;
    font-style: oblique;
}


